{% extends "layout.html" %}
{% block title %}TON POST{% endblock %}

{% block body %}
<div class="container-fluid bg-light">
  <form class="" action="/{{ post.slug }}/edit" method="post">
      Titre : <input type="text" name="title" value="{{ post.title }}"><br><br><br>
      Contenu : <input type="text" name="body" value="{{ post.body }}"><br><br><br>
      <input type="submit" name="" value="modifier"><br><br>
  </form>
</div>

{% endblock %}
