{% extends "layout.html" %}
{% block title %}TON POST{% endblock %}

{% block body %}
<div class="container-fluid jumbotron">
    <h1 class="text-center">{{ post.title }}</h1>
    <p>{{ post.body }}</p>
</div>

{% endblock %}
